@{
    ViewData["Title"] = "categories";
}

<header>
    <nav>
        <div class="menu">
            <ul <a href="#">Categories</a></ul>
            <ul class="submenu">
                <ul <a href="">Technology</a></ul>
                <ul <a href="">General studies</a></ul>
                <ul <a href="">Finances</a></ul>
                <ul <a href="">Science</a></ul>
                <ul <a href="">Agriculture</a></ul>
            </ul>
        </div>
    </nav>
    
</header>


